In [57]:
import pandas as pd
import tabula.io as tb

In [21]:
link = 'https://ia803407.us.archive.org/33/items/epstein-flight-logs-unredacted/EPSTEIN%20FLIGHT%20LOGS%20UNREDACTED.pdf'

df = tb.read_pdf(link, stream = True, pages='all')

In [39]:
####JOINS ENTIRE DATAFRAME TOGETHER#######

#df2 = df[0] #opens dataframe
length = len(df)

df2 = pd.DataFrame()

for i in range(length+1):

    if i < length - 2: 
        df2 = pd.concat([df2, df[i+1]],axis=0,ignore_index=True,sort=False)

    if i == length: #if end reached
        df2 = pd.concat([df2,df[i-1]],axis=0,ignore_index=True,sort=False)

In [40]:
df2

,ID,Date,Year,Aircraft Model,Aircraft Tail #,Aircraft Type,# of Seats,DEP: Code,ARR: Code,DEP,...,Pass #,Unique ID,First Name,Last Name,"Last, First",First Last,Comment,Initials,Known,Data Source
0,4325.0,1/28/1996,1996.0,G-1159B,N908JE,Jet,22.0,CMH,TEB,"Columbus, OH, United States",...,Pass 2,35092-G-1159B-N908JE-CMH-TEB-800-Pass 2,Ghislaine,Maxwell,"Maxwell, Ghislaine",Ghislaine,NaN,GM,Yes,Flight Log
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Maxwell,NaN,NaN,NaN,NaN
2,4326.0,1/31/1996,1996.0,G-1159B,N908JE,Jet,22.0,TEB,PBI,"Teterboro, NJ, United States",...,Pass 1,35095-G-1159B-N908JE-TEB-PBI-801-Pass 1,Jeff,Epstein,"Epstein, Jeff",Jeff Epstein,NaN,JE,Yes,Flight Log
3,4327.0,2/5/1996,1996.0,G-1159B,N908JE,Jet,22.0,PBI,TNCM,"West Palm Beach, FL, United States",...,Pass 1,35100-G-1159B-N908JE-PBI-TNCM-802-Pass 1,Jeff,Epstein,"Epstein, Jeff",Jeff Epstein,NaN,JE,Yes,Flight Log
4,4328.0,2/5/1996,1996.0,G-1159B,N908JE,Jet,22.0,PBI,TNCM,"West Palm Beach, FL, United States",...,Pass 2,35100-G-1159B-N908JE-PBI-TNCM-802-Pass 2,Ghislaine,Maxwell,"Maxwell, Ghislaine",Ghislaine,NaN,GM,Yes,Flight Log
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6798,4272.0,11/18/2015,2015.0,B-727-31H,N908JE,Jet,134.0,TIST,EWR,"Charlotte Amalie, St. Thomas,",...,No Records,42326-B-727-31H-N908JE-TIST-EWR-1-No Records,?,?,"?, ?",? ?,NaN,??,No,FOIA
6799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States Virgin Islands,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6800,4273.0,11/18/2015,2015.0,B-727-31H,N908JE,Jet,134.0,EWR,BQK,"Newark, NJ, United States",...,No Records,42326-B-727-31H-N908JE-EWR-BQK-1-No Records,?,?,"?, ?",? ?,NaN,??,No,FOIA
6801,4274.0,12/28/2015,2015.0,B-727-31H,N908JE,Jet,134.0,BQK,PBI,"Brunswick, GA, United States",...,No Records,42366-B-727-31H-N908JE-BQK-PBI-1-No Records,?,?,"?, ?",? ?,NaN,??,No,FOIA

In [56]:
last_names = ['Trump','Trudeau','Biden','Pelosi']

df2.loc[df2['Last Name'].isin(last_names)]

,ID,Date,Year,Aircraft Model,Aircraft Tail #,Aircraft Type,# of Seats,DEP: Code,ARR: Code,DEP,...,Pass #,Unique ID,First Name,Last Name,"Last, First",First Last,Comment,Initials,Known,Data Source
462,4679.0,1/5/1997,1997.0,G-1159B,N908JE,Jet,22.0,PBI,EWR,"West Palm Beach, FL, United States",...,Pass 3,35435-G-1159B-N908JE-PBI-EWR-934-Pass 3,Donald,Trump,"Trump, Donald",Donald Trump,NaN,DT,Yes,Flight Log